{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.19be96e9-25d2-4207-bb2e-3e1825110e1b",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}