{
  "pid": "com.tibco.bw.stat.appnode.c50e7def-11bc-430a-90d4-af0af7898f4c",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.c50e7def-11bc-430a-90d4-af0af7898f4c",
      "type": "java.lang.String"
    }
  }
}